*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #6364a0;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(83, 79, 94);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}

h1{
    font-size: 2rem;
}

.usercon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.inputcon{
    display: flex;
    justify-content: space-between;
}

#userInput{
    width: 80%;
    padding: 0.4rem;
    border-radius: 5px;
}

#searchBtn{
    padding: 0.4rem;
    border-radius: 5px; 
}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid green;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background: conic-gradient(#299f5d var(--progress-degree, 0%), #283a2e 0%);
    flex-direction: column;
}

.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.statCard{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

h4{
    font-size: 1rem;
}

.card{
    background-color: #314967;
    width: 40%;
    max-width: 290px;
    padding: 10px;
    border-radius: 10px;
    min-height: 4rem;
}

